#main {
    margin: 90px auto;
    max-width: 1000px;
}

#content {
    margin-bottom: 45px;
}

#name {
    margin-bottom: 45px;
}

#links {
    margin-left: 60px;
    margin: 0 auto;
    margin-bottom: 45px;
}

h1 {
    font-size: 2.75rem;
    letter-spacing: normal;
}

p {
    font-size: 1.5rem;
    line-height: 2.3rem;
}

a {
    text-decoration-color: #9696964d;
    text-decoration-thickness: 0.08em;
}

a:hover {
    color: #3366CC
}

#links a {
    display: block;
    font-size: 1.5rem;
    line-height: 2.6rem;
}

#cv {
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
    #links {
        margin-left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
      --pointer-move-line-color: #f3a;
  
      --background-color: #111;
      --foreground-color-rgb: 255,254,245;
      --foreground-color-a: 0.8;
      --foreground-color: rgba(255,254,245,0.8); 
  
      --base-grid-color1: rgba(240,155,255, 0.1);
      --base-grid-color2: rgba(240,155,255, 0.05);
    }

    a:hover {
        color: #73A8F0
    }
  }